*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: #777;
}

.logo {
  width: 8rem;
}

.nav-link {
  color: #212529;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 1px solid #007bff !important;
  text-decoration: none;
}

.nav-linkb {
  border-radius: 50px;
  background: #007bff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  white-space: nowrap;
  padding: 13px 22px;
  font-size: 16px;
  margin-left: 2%;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.nav-linkb:hover {
  transition: all 0.2s ease-in-out;
  background: #007bff71;
  color: #fff !important;
  text-decoration: none !important;
}


/* section one  */