*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: #777;
  font-size: 1.6rem;
}

.logo {
  width: 8rem;
}

.nav-link {
  color: #212529;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 1px solid #007bff !important;
  text-decoration: none;
}

.nav-linkb {
  border-radius: 50px;
  background: #007bff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  white-space: nowrap;
  padding: 13px 22px;
  font-size: 16px;
  margin-left: 2%;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.nav-linkb:hover {
  transition: all 0.2s ease-in-out;
  background: #007bff71;
  color: #fff !important;
  text-decoration: none !important;
}


/* section one  */

.jumbotron1 {
  /* background: linear-gradient(rgba(0, 123, 255, 0.703), rgba(125, 250, 250, 0.45)), url(https://lh5.googleusercontent.com/p/AF1QipN6mv-R_L573OtJfk-fnpllcQajBYc9a8-v3Gm_=s1031-k-no);
   */
   background-image: linear-gradient(
      to right bottom,
      rgba(0, 123, 255,0.9),
      rgba(40, 180, 133, 0.5)
    ),
    url("https://lh5.googleusercontent.com/p/AF1QipN6mv-R_L573OtJfk-fnpllcQajBYc9a8-v3Gm_=s1031-k-no");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: white !important;
  height: 340px;
  margin-top: 1rem;
  position: relative;
}

.container1 {
  background-color: #064486ba;
  width: 60%;
  padding: 3rem;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.lead1 {
  font-size: 1.6rem;
}

.heading_primary {
  padding: 1.5rem 0;
  animation-name: moveInLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading_secondary {
  animation: moveInRight 1.2s ease-out;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
} 

.abt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus {
  padding: 4rem;
  width: 60%;
}

.mission {
  display: flex;
  min-width: 30rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card1 {
  width: 40rem;
  max-width: 30%;
  text-align: center;
  padding: 1rem;
}

.card1 ul li {
  list-style: none;
}